<div class="col-md-12 mt-3">
  <input id="filterText" type="text" (keyup)="onKey($event)" class="form-control" #filterText
    (keyup)="treeText.treeModel.filterNodes(filterText.value)" placeholder="Search" />
</div>
<div class="col-md-12 mt-3 rounded border border-secondary tree-view">
  <p *ngIf="show">Nessun risultato</p>
  <tree-root #treeText [nodes]="nodes" [options]="options" [focused]="true" (activate)="onEvent($event)"
    (moveNode)="onMoveNode($event)">
    <ng-template #treeNodeTemplate let-node let-index="index">
      <i class="far fa-folder" *ngIf="!node.isExpanded"></i>
      <i class="far fa-folder-open" *ngIf="node.data.type == 'directory' && node.isExpanded"></i> 
      <span [contextMenu]="basicMenu" [contextMenuSubject]="node.data">
        {{ node.data.name }}
      </span>
    </ng-template>
  </tree-root>
  <context-menu>
    <!--  <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
          Say hi!
        </ng-template>
         
        <ng-template contextMenuItem divider="true"></ng-template> -->
    <ng-template contextMenuItem let-item [visible]="isFolder" (execute)="addFolder($event.item)">
      Add Folder
    </ng-template>
    <ng-template contextMenuItem let-item [visible]="isFolder" (execute)="removeFolder($event.item)">
      Remove Folder
    </ng-template>
    <ng-template contextMenuItem let-item [visible]="isFolder" (execute)="saveSelectedNode($event.item)">
      <span (click)="renameFolderModel.show();">Rename Folder</span>
    </ng-template>
  </context-menu>
</div>

<app-modal #renameFolderModel class="add_languages_modal">
  <ng-container class="app-modal-header"></ng-container>
  <ng-container class="app-modal-body">
    <div class="card">
      <div class="card-body">
        <div class="form-group row ml-2 mt-3 mr-2">
          <label for="inputLabel" class="col-lg-5 col-form-label" style="font-size: 12px;">Rename Folder:</label>
          <div class="input-group col-lg-7" style="align-items: center;">
            <input type="text" class="form-control" placeholder="" #renameInput>
            <div class="input-group-append ml-2">
              <button class="btn btn-success" type="button" (click)="renameFolder(renameInput.value);"><i
                  class="fas fa-check"></i></button>
            </div>
            <!--  <div class="spinner-border spinner-border-sm m-1" role="status" *ngIf="loadingService">
                          <span class="sr-only">Loading...</span>
                      </div> -->
            <div class="invalid-feedback" [hidden]="validName" style="display: block; font-size: 9px;">
              Please, insert at least three characters.
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-modal>