// Required
@import "../../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../../node_modules/bootstrap/scss/mixins";

$font-size-input: 12px;

$font-size: 12px;

.form-control {
    font-size: $font-size-input;
}

.tree-view {
    padding-top: 15px;
    height: calc(100vh - 20rem);
    max-height: calc(100vh - 20rem);
}


.btn {
    font-size: 12px;
    height: 32px;
}

.card,
.btn {
    font-size: $font-size;
}
.card {
    width: 100%;
}
.card-header {
    padding: 5px 18px;
}