<div class="col-md-12 mt-3">
    <input id="filterText" type="text" (keyup)="onKey($event)" class="form-control" #filterText (keyup)="treeText.treeModel.filterNodes(filterText.value)" placeholder="Search"/>
</div>
<div class="col-md-12 mt-3 rounded border border-secondary tree-view" >
    <p *ngIf="show">Nessun risultato</p>
    <tree-root
        #treeText
        [nodes]="nodes"
        [options]="options"
        [focused]="true"
        (activate)="onEvent($event)"
        (moveNode)="onMoveNode($event)">
        <ng-template #treeNodeTemplate let-node let-index="index">
            <span [contextMenu]="basicMenu" [contextMenuSubject]="node.data">
              {{ node.data.name }}
            </span>
          </ng-template>
    </tree-root>
    <context-menu>
       <!--  <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
          Say hi!
        </ng-template>
         
        <ng-template contextMenuItem divider="true"></ng-template> -->
        <ng-template contextMenuItem let-item [visible]="isFolder" (execute)="addFolder($event.item)">
          Add Folder
        </ng-template>
        <ng-template contextMenuItem let-item [visible]="isFolder" (execute)="removeFolder($event.item)">
          Remove Folder
        </ng-template>
      </context-menu>
</div>