// Required
@import "../../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../../node_modules/bootstrap/scss/mixins";

$font-size-input: 12px;

$font-size: 12px;

.form-control {
    font-size: $font-size-input;
}

.tree-view {
    padding-top: 15px;
    height: calc(100vh - 23rem);
    max-height: calc(100vh - 23rem);
}


.btn {
    font-size: 12px;
    height: 32px;
}

.card,
.btn {
    font-size: $font-size;
}
.card {
    width: 100%;
}
.card-header {
    padding: 5px 18px;
}

#filterLexicalEntry {
    border-right: none;
  }
  
  #filterLexicalEntry:hover,
  #filterLexicalEntry:focus,
  #filterLexicalEntry:active{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border-color: #ccc;
  }
  
  .loading_icon_append {
    height: 32px;
    background-color: white;
    border-left: none;
  }

  
  .lang {
    color: blue;
  }
  
  /* .node-wrapper {
    justify-content: space-between;
  } */
  
  .icons-container {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    width: 25%;
  }
  
  .reset-button,
  .filter-button,
  .popover-dismiss,
  .counter-button {
    margin: 0;
    font-size: 10px;
  }
  
  .counter-button {
    background-color: white;
  }
  
  .counter-button:hover {
    
    background-color: unset;
    border-color: unset;
    border: none;
  }
  
  .counter-button:focus {
    border: none;
    border-color:white;
    box-shadow: none;
  }
  
  
  
  input {
    margin-top: 0;
  }
  
  .custom-control-label::before {
    top: 0;
  }
  
  .custom-switch .custom-control-label::after {
    top: calc(.25rem + -2px);
  }
  
  .canonicalForm {
    font-weight: 800;
  }
  
  .btn {
    transition: none !important;
  }