$font-size-items: 14px;

//minus
[data-toggle="collapse"] i:before{
    content: "\f146";
}

//plus
[data-toggle="collapse"].collapsed i:before{
    content: "\f0fe";
}

.nav-item,
.fa {
    font-size: $font-size-items;
}

.card-header {
    padding: 5px 18px;
}

.nav-tabs {
    border-bottom: none;
}