<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-md-10">
            <h2>Search page</h2>
            <br>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#data-search">Ricerca sui dati</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#biblio-search">Ricerca sulla bibliografia</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#lexicon-search">Ricerca sul lessico</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="data-search" class="container tab-pane active"><br>
                    <app-data-search-form></app-data-search-form>
                </div>
                <div id="biblio-search" class="container tab-pane fade"><br>
                  <h3>Menu 1</h3>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div id="lexicon-search" class="container tab-pane fade"><br>
                  <h3>Menu 2</h3>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
            
            
		</div>
	</div>
</div>