$font-size-input: 14px;

.form-control {
    font-size: $font-size-input;
}

.tree-view {
    padding-top: 15px;
    height: calc(100vh - 500px);
}

.lang {
    color: blue;
}


.node-wrapper {
    justify-content: space-between;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    width: 25%;
}