<form>
    <!-- CHAR SEARCH -->
    <div class=" input-group col-md-12 mt-3">
        <input id="filterLexicalEntry" type="text" (keyup)="onKey($event)" class="form-control" #filterLexicalEntry
            (keyup)="lexicalFilter(filterLexicalEntry.value, lexicalEntry.treeModel, $event)" placeholder="Search" />
        <div class="input-group-append">
            <button class="btn btn-secondary btn-block filter-button" type="button" value="Filter" title="Filter"
                data-toggle="collapse" data-target="#filterCollapse" aria-expanded="false"
                aria-controls="filterCollapse"><i class="fa fa-filter"></i></button>
            <button class="btn btn-danger btn-block reset-button" type="reset" value="Reset" title="Reset"><i
                    class="fa fa-times"></i></button>
        </div>
    </div>

    <!-- START WITH, CONTAINS, END -->
    <div class="d-flex flex-wrap mt-3">
        <div class="col-md-4 col-sm-4">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="startRadio"
                    value="startWith">
                <label class="form-check-label" for="startRadio">
                    Start with
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="containsRadio"
                    value="contains">
                <label class="form-check-label" for="containsRadio">
                    Contains
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="endRadio" value="end">
                <label class="form-check-label" for="endRadio">
                    End
                </label>
            </div>
        </div>
    </div>

    <!-- TYPE, POS -->
    <div class="collapse multi-collapse" id="filterCollapse">
        <div class="d-flex flex-wrap mt-3">
            <div class="col-md-6 col-sm-12">
                <select #tipo class="form-control" id="type"
                    (change)="lexicalFilter(tipo.value, lexicalEntry.treeModel, $event)">
                    <option>Tipo</option>
                    <option>Word</option>
                    <option>Multiword</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="d-md-none mt-3"></div>
                <select #pos class="form-control" id="pos"
                    (change)="lexicalFilter(pos.value, lexicalEntry.treeModel, $event)">
                    <option>Pos</option>
                    <option>Verb</option>
                    <option>Adj</option>
                    <option>Noun</option>
                </select>
            </div>
        </div>

        <!-- LANG, AUTHOR -->
        <div class="d-flex flex-wrap mt-3">
            <div class="col-md-6 col-sm-12">
                <div class="d-md-none mt-3"></div>
                <select #pos class="form-control" id="author">
                    <option>Author</option>
                    <option>...</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="d-md-none mt-3"></div>
                <select #pos class="form-control" id="lang">
                    <option>Lang</option>
                    <option>en</option>
                    <option>it</option>
                    <option>ru</option>
                </select>
            </div>
        </div>

        <div class="col-sm-12 mt-3">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="verifiedSwitcher">
                <label class="custom-control-label" for="verifiedSwitcher">Verified</label>
            </div>
        </div>

        <!-- PENDING, PROCESSING, READY -->
        <div class="col-md-12 mt-3">
            <!-- <div class="form-check">
                <input #pending class="form-check-input" type="checkbox" value="pending" id="pending"
                    (change)="lexicalFilter(pending.value, lexicalEntry.treeModel, $event)" checked>
                <label class="form-check-label" for="pending">
                    Pending
                </label>
            </div> -->
            <div class="form-check">
                <input #processing class="form-check-input" type="checkbox" value="processing" id="processing"
                    (change)="lexicalFilter(processing.value, lexicalEntry.treeModel, $event)" checked>
                <label class="form-check-label" for="processing">
                    In lavorazione
                </label>
            </div>
            <div class="form-check">
                <input #ready class="form-check-input" type="checkbox" value="ready" id="ready"
                    (change)="lexicalFilter(ready.value, lexicalEntry.treeModel, $event)" checked>
                <label class="form-check-label" for="ready">
                    Pronte
                </label>
            </div>
        </div>
    </div>


</form>

<!-- INFINITE SCROLL AND TREE VIEW -->
<div class="col-md-12 mt-3 rounded border border-secondary tree-view" infiniteScroll [infiniteScrollDistance]="0.1"
    [infiniteScrollThrottle]="150" [infiniteScrollContainer]="'.search-results'" [fromRoot]="true"
    (scrolled)="onScrollDown(lexicalEntry.treeModel)">

    <div id="lazyLoadingModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <p *ngIf="show">Nessun risultato</p>
    <tree-root #lexicalEntry [(state)]="state" [nodes]="nodes" [options]="options" [focused]="true"
        (activate)="onEvent($event)" (deactivate)="onEvent($event)" (toggleExpanded)="onExpand($event)">
        <ng-template #treeNodeWrapperTemplate let-node let-index="index">
            <div class="node-wrapper" [style.padding-left]="node.getNodePadding()"
                [class.node-content-wrapper-active]="node.isActive"
                [class.node-content-wrapper-focused]="node.isFocused" (click)="node.mouseAction('click', $event)"
                (dblclick)="node.mouseAction('dblClick', $event)"
                (contextmenu)="node.mouseAction('contextMenu', $event)" (treeDrop)="node.onDrop($event)"
                [treeAllowDrop]="node.allowDrop" [treeDrag]="node" [treeDragEnabled]="node.allowDrag()">
                <div class="node-content-wrapper" style="padding-top:0;">
                    <tree-node-expander [node]="node" class="lexicalEntryTreeNodeExpander">
                    </tree-node-expander>
                    <!-- <span *ngIf="node.data.pending != null ||  node.data.validated != null" [ngClass]="{
                    'pending' : node.data.pending && !node.data.validated,
                    'lavorazione': !node.data.pending && !node.data.validated,
                    'pronta': !node.data.pending && node.data.validated}"></span> -->
                    <span>{{ node.data.name }}</span>
                    <sub>{{node.data.pos}}</sub>
                    <span *ngIf="node.data.lang != null" class="lang">@{{node.data.lang}}</span>
                </div>
                <div class="icons-container">
                    <div style="width: 30%;">
                        <i *ngIf="node.data.notes != '' && node.data.notes != null" class="far fa-comment-dots"></i>
                    </div>
                    <div style="width: 30%;">
                        <i *ngIf="node.data.author != '' && node.data.author != null" class="fas fa-user"></i>
                    </div>
                    <div style="width: 30%;">
                        <i *ngIf="!node.data.pending && !node.data.validated && node.data.pending != null"
                            class="fa fa-unlock"></i>
                        <i *ngIf="!node.data.pending && node.data.validated && node.data.pending != null"
                            class="fa fa-lock"></i>
                    </div>

                </div>
            </div>
        </ng-template>
    </tree-root>

</div>