<div class="card form-card">
    <div class="card-header" id="lemmaHading">
        <h5 class="mb-0">
            <a class="btn btn-link w-100 d-flex align-self-center" data-toggle="collapse" data-target="#lemmaCollapse" aria-expanded="true" aria-controls="lemmaCollapse">
            Lemma <i class="fa ml-auto"></i>
            </a>
        </h5>
    </div>
    <div id="lemmaCollapse" class="collapse show" aria-labelledby="lemmaHading">
        <div class="card-body">
            <app-lemma-input></app-lemma-input>
        </div>
    </div>
</div>
