<div id="cardsAccordion" class="accordion">

    <div class="card my-2">
        <div class="card-header">
            <h5 class="mb-0 w-100 d-flex justify-content-between align-self-center">
                <div>
                    <span class="btn">
                        CREATED BY USERG ON 11/12/2020 15:15
                    </span>
                </div>
                <div>
                    <button class="btn btn-link">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button class="btn btn-link">
                        <i class="fa fa-unlock"></i>
                    </button>
                </div>
            </h5>
        </div>
        <div class="card-body">
            <app-core-form></app-core-form>
        </div>
        <div class="card-footer text-muted">
            <div class="w-100 d-flex justify-content-between align-items-center">
                <div>
                    <span>LAST UPDATE ON 15/12/2020 14:30 BY USERG</span>
                </div>
                <div>
                    <button class="btn btn-success" type="button" id="dropdownAddLemma" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> <i class="fas fa-plus"></i> </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownAddLemma">
                        <a class="dropdown-item" href="#">Add Form</a>
                        <a class="dropdown-item" href="#">Add Sense</a>
                        <a class="dropdown-item" href="#">Add Frame</a>
                        <a class="dropdown-item" href="#">Add Lexical Concept</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="card lemma-card my-2">
        <div class="card-header" id="lemmaHeading">
            <h5 class="mb-0">
                <a class="btn btn-link w-100 d-flex align-self-center flag" data-toggle="collapse" data-target="#lemmaCollapse" aria-expanded="false" aria-controls="lemmaCollapse">
                Lemma <i class="fa ml-auto"></i>
                </a>
            </h5>
        </div>
        <div id="lemmaCollapse" class="collapse" aria-labelledby="lemmaHeading" data-parent="#cardsAccordion">
            <div class="card-body">
                <app-lemma-input></app-lemma-input>
            </div>
        </div>
    </div>
    
    <div class="card form-card my-2">
        <div class="card-header" id="formHeading">
            <h5 class="mb-0">
                <a class="btn btn-link w-100 d-flex align-self-center flag" data-toggle="collapse" data-target="#formCollapse" aria-expanded="false" aria-controls="formCollapse">
                Form <i class="fa ml-auto"></i>
                </a>
            </h5>
        </div>
        <div id="formCollapse" class="collapse" aria-labelledby="formHeading" data-parent="#cardsAccordion">
            <div class="card-body">
                <app-form-input></app-form-input>
            </div>
        </div>
    </div>

    <div class="card sense-card my-2">
        <div class="card-header" id="senseHeading">
            <h5 class="mb-0">
                <a class="btn btn-link w-100 d-flex align-self-center flag" data-toggle="collapse" data-target="#senseCollapse" aria-expanded="false" aria-controls="senseCollapse">
                Sense <i class="fa ml-auto"></i>
                </a>
            </h5>
        </div>
        <div id="senseCollapse" class="collapse" aria-labelledby="senseHeading" data-parent="#cardsAccordion">
            <div class="card-body">
                <app-sense-input></app-sense-input>
            </div>
        </div>
    </div> -->
    </div>
</div>