<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">
                    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user" routerLinkActive="active">
                    <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/lexicon" routerLinkActive="active">
                    <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/search" routerLinkActive="active">
                    <i class="fa fa-search fa-2x" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <div class="dropdown">
                <button class="btn btn-light btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    LexO-Admin
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a>
                </div>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="https://docs.google.com/document/d/1rTzEKBU7a_nvG3_paDKcyBitgIn06XW7von883NKnn0/edit" target="_blank">
                    <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
  </nav>