// Required
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";


$font-size: 18px;
$font-size-arrow: 14px;

@include media-breakpoint-up(lg) { 
    nav {
        height: 5vh;
    }
}

nav {
    font-size: $font-size;
}

.dropdown-menu{
    left: -90px;
}

.dropdown-toggle::after {
    font-size: 14px;
}

//TODO: per le immagini multiple ricordare che il parent deve avere position:relative; e le img devono avere position absolute e le positioni left equamente suddivise in base al numero di utenti connessi