$font-size: 24px;
$font-size-arrow: 14px;

nav {
    font-size: $font-size;
}

.dropdown-toggle::after {
    font-size: 14px;
}

//TODO: per le immagini multiple ricordare che il parent deve avere position:relative; e le img devono avere position absolute e le positioni left equamente suddivise in base al numero di utenti connessi