@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";


$h5-font-size: 18px; //ex. 20px;

.container-fluid {
    padding-right: 0;
}

.col-md-8{
    padding-left: 0;
    padding-right: 0;
}
@include media-breakpoint-down(lg) {
    .col-md-8{
        padding-left: 15px;
        padding-right: 15px;
    }
}
.card-header {
    padding: 5px 18px;
    font-size: $h5-font-size;
}

