<div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <tfoot>
      <tr>
        <th scope="col"><input type="text" placeholder="Search" name="search-id"/></th>
        <th scope="col"><input type="text" placeholder="Search" name="search-role"/></th>
        <th scope="col"><input type="text" placeholder="Search" name="search-firstname"/></th>
        <th scope="col"><input type="text" placeholder="Search" name="search-username"/></th>
        <th scope="col"><input type="text" placeholder="Search" name="search-email"/></th>
      </tr>
    </tfoot>
  </table>
</div>