// Required
@import "../../../../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../../../../node_modules/bootstrap/scss/mixins";

.row {
    align-items: baseline;
}

.btn {
    height: 38px;
    border-radius: 0.25rem !important;
}

.form-control {
    font-size: 12px;
}

.btn {
    font-size: 12px;
    height: 32px;
}

.form-check-input {
    margin-top: 0;
}

/* .card {
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
} */

#accordion {
    width: 100%;
}

.text-id {
    position: absolute;
    left: 10px;
    top: -12px;
    background: white;
    text-align: center;
    color: $gray-900;
    padding: 5px 10px;
    font-size: 12px;
}

.collapse-icon {
    position: absolute;
    right: 4px;
    top: -16px;
    background: white;
    text-align: center;
    color: $gray-900;
    padding: 5px 5px;
    font-size: 16px;
}

.badge {
    font-size: 11px;
}

.pointer {
    cursor: pointer;
}

form > div > span {
    font-size: 14px;
}

.panel .token {
    padding: 0px;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 300;
}

.mark {
    background-color: #fbff00;
    padding: 0.3rem 0 !important;
}

.annotation {
    background-color: #00ff15;
    padding: 0.3rem 0 !important;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.panel-body .token.selected {
    border-color: rgb(0, 89, 255);
    border-width: 1px;
    transition: border 0.2s ease;
}

.panel-body .token.editing {
    border-color: rgb(0, 89, 255);
    border-width: 1px;
    transition: border 0.2s ease;
}

.panel-body.multiword {
    border: 1px solid;
    border-color: #ff7300;
    transition: border 0.2s ease;
}

.panel-body.multiword + .panel-body.multiword {
    border-color: #ff7300;
    border-left: none;
    transition: border 0.2s ease;
}

.panel-body:hover .token {
    border-color: rgb(0, 89, 255);
    border-width: 1px;
    transition: border 0.2s ease;
}
