<div class="card">
    <div class="card-header" id="bibliographyHeading">
        <h5 class="mb-0">
            <a class="btn btn-link w-100 d-flex align-self-center collapsed" data-toggle="collapse"
                data-target="#bibliographyCollapse" aria-expanded="true" aria-controls="bibliographyCollapse">
                Bibliography Panel<i class="fa ml-auto"></i>
            </a>
        </h5>
    </div>
    <div id="bibliographyCollapse" class="collapse" aria-labelledby="bibliographyHeading">

        <div class="card-body">
            <!----- FORM ----->
            <form [formGroup]="bibliographyForm"> <!-- *ngIf="object!=null" -->
                <div formArrayName="bibliography">
                    <div *ngFor="let biblio of bibliographyForm['controls'].bibliography['controls']; let i = index">
                        <div [formGroupName]="i">
                            <div class="form-group row ml-2 mt-3 mr-2">
                                <div class="input-group col-xl-12 p-0">
                                    <div class="card">
                                        <!-- <span class="text-id"><b>COMPONENT</b></span> -->
                                        <a class="pointer"><span class="add-icon"><i class="fa fa-plus-square"></i></span></a> <!-- (click)="addRelation(i)" -->
                                        <a class="pointer"><span class="trash-icon"><i class="fa fa-trash"></i></span></a> <!-- (click)="removeComponent(i)" -->
                                        <div class="card-body">
                                            <div class="form-group row ml-2 mt-3 mr-2">
                                                <label for="inputLabel" class="col-lg-3 col-form-label">Label:</label>
                                                <div class="input-group col-lg-9 pl-0">
                                                    <input id="label"  formControlName="label" name="label" type="text" class="form-control" placeholder="" required>
                                                    <!--  <div class="invalid-feedback" style="display: block;"> 
                                                        Please, insert at least three characters.
                                                    </div> -->
                                                </div>
                                            </div>                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>