<div class="card">
    <div class="card-header" id="bibliographyHeading">
        <h5 class="mb-0">
            <a class="btn btn-link w-100 d-flex align-self-center" data-toggle="collapse"
                data-target="#bibliographyCollapse" aria-expanded="true" aria-controls="bibliographyCollapse">
                Bibliography Panel<i class="fa ml-auto"></i>
            </a>
        </h5>
    </div>
    <div id="bibliographyCollapse" class="collapse show" aria-labelledby="bibliographyHeading">
        <div class="card-body">
            TO DO
        </div>
    </div>
</div>