<div class="container-fluid" >
	<br>
	<div class="row" >
		<div class="col-md-9">
			<app-lexicon-panel></app-lexicon-panel>
		</div>
		<div class="col-md-3 ">
			<div class="container-fluid">
				<div id="accordion">
					<app-note-panel [noteData]="notes"></app-note-panel>
					<app-link-panel [linkData]="link"></app-link-panel>
					<app-bibliography-panel></app-bibliography-panel>
					<app-attestation-panel></app-attestation-panel>
					<app-metadata-panel></app-metadata-panel>
				</div>
			</div>
		</div>
	</div>
</div>