<div class="card container-fluid" >
	<div class="card-body row">
		<div class="col-lg-4">
			<img alt="" class="text-preview" src="//placehold.it/150" />
		</div>
		<div class="col-lg-8">
			<div class="row pt-2">
				<div class="col-md-6">
					<h5>
						Interpretativa
					</h5>
					<p>
						Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. 
					</p>
				</div>
				<div class="col-md-6">
					<h5>
						Diplomatica
					</h5>
					<p>
						Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien.
					</p>
				</div>
			</div>
			<div class="row pt-3">
				<div class="col-md-12">
					<h5>
						Traduzione
					</h5>
					<p>
						Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien
					</p>
				</div>
            </div>
            <div class="row">
				<div class="col-md-12 text-right  d-flex flex-column justify-content-end">
					<div>
						<a href="#"><img class="xml-icon" src="https://img.icons8.com/wired/64/000000/xml-file.png"/></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>