<div class="card container-fluid" >
	<div class="card-body row">
		<div class="col-lg-4">
			<img alt="" class="img-fluid" src="//placehold.it/200" />
		</div>
		<div class="col-lg-8">
			<div class="row">
				<div class="col-md-6">
					<h5>
						Interpretativa
					</h5>
					<p>
						Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. 
					</p>
				</div>
				<div class="col-md-6">
					<h5>
						Diplomatica
					</h5>
					<p>
						Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h5>
						Traduzione
					</h5>
					<p>
						Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien
					</p>
				</div>
            </div>
            <div class="row">
				<div class="col-md-12 text-right">
					<a href="#"><img style="width:7%;" src="https://img.icons8.com/wired/64/000000/xml-file.png"/></a>
				</div>
			</div>
		</div>
	</div>
</div>