$font-size-h5: 16px; 
$font-size-p: 12px;

h5 {
    font-size: $font-size-h5;
}

p {
    font-size: $font-size-p;
}

.card {
    border: 0;

    .card-body {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.xml-icon {
    max-height: 25px;
    overflow: hidden;
}

.text-preview {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
