@import '../core-tab.component.scss';
// Required
@import "../../../../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../../../../node_modules/bootstrap/scss/mixins";

.row {
    align-items: center;
}
.card {
    width: 100%;
}
.card-body{
    background-color: $gray-100 !important;
}

.btn{
    height: 38px;
    border-radius: .25rem !important;
}

.form-control {
    font-size: 12px;
}

.btn {
    height: 32px;
}

.form-check-input {
    margin-top: 0;
}