<form [formGroup]="coreForm" *ngIf="object != null">
    <div class="form-group row ml-2 mt-3 mr-2">
        <label for="inputLabel" class="col-lg-3 col-form-label">Label:</label>
        <div class="input-group col-lg-5">
            <input formControlName="label" name="label" type="text" class="form-control" placeholder="">
        </div>
    </div>
    <div class="form-group row ml-2 mt-3 mr-2">
        <label for="inputType" class="col-lg-3 col-form-label">Type:</label>
        <div class="col-lg-5">
            <select formControlName="type" name="type" class="form-control">
                <option [value]="object.type">{{object.type}}</option>
            </select>
        </div>
    </div>
    <div class="form-group row ml-2 mt-3 mr-2">
        <label for="inputLanguage" class="col-lg-3 col-form-label">Language:</label>
        <div class="col-lg-2">
            <select formControlName="language" name="language" class="form-control">
                <option [value]="object.language">{{object.language}}</option>
            </select>
        </div>
    </div>

    <!-- MORPHOLOGY -->
    <div class="form-group row ml-2 mt-3 mr-2">
        <div class="input-group col-lg-12">
            <div class="card">
                <span class="text-id"><b>MORPHOLOGY</b></span>
                <a class="pointer" (click)="addMorphoTraits()"><span class="collapse-icon"><i class="fa fa-plus-square"></i></span></a>
                <div class="card-body">
                    <div class="d-flex my-3">
                        <div class="col-md-6">
                            <label for="selectPos" class="col-form-label">Part of speech:</label>
                        </div>
                        <div class="col-md-6">
                            <select formControlName="pos" name="pos" class="form-control">
                                <option [value]="object.pos">{{object.pos}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex my-2" formArrayName="morphoTraits" *ngFor="let morpho of coreForm.get('morphoTraits')['controls']; let i = index">
                        <div class="col-md-4" [formGroupName]="i"> 
                            <select class="form-control selectTrait" formControlName="trait" name="trait" style="font-size: 12px;">
                                <option [value]="morpho.value['trait']">{{morpho.value['trait']}}</option>
                            </select> </div>
                        <div class="input-group col-md-7" [formGroupName]="i"> 
                            <select class="form-control selectTrait" formControlName="value" name="value" style="font-size:12px;">
                                <option [value]="morpho.value['value']">{{morpho.value['value']}}</option>
                            </select>
                            <div (click)="removeElement(i)" class="input-group-append ml-2"> <button class="btn btn-danger"
                                    type="button" style="font-size: 12px; border-radius: .25rem;"><i
                                        class="fa fa-trash-alt"></i></button> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- EVOKES -->
    <div class="form-group row ml-2 mt-3 mr-2">
        <div class="input-group col-lg-12">
            <div class="card">
                <span class="text-id"><b>EVOKES</b></span>
                <a class="pointer" (click)="addEvokes()"><span class="collapse-icon"><i class="fa fa-plus-square"></i></span></a>
                <div class="card-body">
                    <div class="form-group row ml-2 mt-3 mr-2" formArrayName="evokes" *ngFor="let trans of coreForm.get('evokes')['controls']; let i = index">
                        <div class="input-group col-xl-12" *ngIf="{switch : false}; let variable" [formGroupName]="i">
                            <ng-select formControlName="entity" name="entity" [items]="people" bindValue="name" bindLabel="name" placeholder="Search entity" appendTo="body"
                                [loading]="peopleLoading" *ngIf="!variable.switch">
                            </ng-select>
                            <input formControlName="entity" name="entity" type="text" class="form-control" placeholder="Insert URI" *ngIf="variable.switch">
                            <div class="input-group-append ml-3 form-check" style="align-items: center;">
                                <input class="form-check-input vartrans-tooltip" type="checkbox" (change)="variable.switch=!variable.switch" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="Clicca per inserire un URI manualmente">
                            </div>
                            <div class="input-group-append ml-2">
                                <button class="btn btn-primary" type="button"><i
                                        class="fa fa-external-link-alt"></i></button>
                            </div>
                            <div class="input-group-append ml-2">
                                <button (click)="removeEvokes(i)" class="btn btn-danger" type="button"><i class="fa fa-trash-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row ml-2 mt-3 mr-2" *ngIf="coreForm.value['denotes'] != undefined ">
        <label for="inputDenotes" class="col-auto col-form-label">Denotes:</label>        
        <div class="input-group col-lg-7">
            <ng-select [items]="people" bindLabel="name" bindValue="name" placeholder="Search entity" appendTo="body"
                [loading]="peopleLoading" *ngIf="!switchInput" formControlName="denotes" name="denotes">
            </ng-select>
            <input formControlName="denotes" name="denotes" type="text" class="form-control" placeholder="Insert URI" *ngIf="switchInput">
            <div class="input-group-append ml-2" style="align-items: center;">
                <div class="form-check">
                    <input class="form-check-input denotes-tooltip" type="checkbox" (change)="switchInput=!switchInput" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="Clicca per inserire un URI manualmente">
                    <label class="form-check-label" for="extCheck"></label>
                </div>
            </div>
            <div class="input-group-append ml-2">
                <button class="btn btn-primary" type="button" (click)="modalRoot.show()"><i
                        class="fa fa-external-link-alt"></i></button>
                    <app-modal #modalRoot class="modal-demo" [maximizable]="true" [backdrop]="false">
                        <ng-container class="app-modal-header">Demo modal</ng-container>
                        <ng-container class="app-modal-body">
                            <h3>MODAL DIALOG</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.</p>
                        </ng-container>
                        <ng-container class="app-modal-footer">
                            <button type="button" class="button button3" (click)="modalRoot.hide()">Delete</button>
                            <button type="button" class="button button1" (click)="modalRoot.hide()">Save</button>
                            <button type="button" class="button button2" style="float: right;"
                                (click)="modalRoot.hide()">Close
                            </button>
                        </ng-container>
                    </app-modal>
            </div>
            <div class="input-group-append ml-2">
                <button (click)="removeDenotes()" class="btn btn-danger" type="button"><i class="fa fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
</form>