<div class="card">
    <div class="card-header" id="referenceHeading">
        <h5 class="mb-0">
            <a class="btn btn-link w-100 d-flex align-self-center" data-toggle="collapse"
                data-target="#referenceCollapse" aria-expanded="true" aria-controls="referenceCollapse">
                Reference Panel <i class="fa  ml-auto"></i>
            </a>
        </h5>
    </div>
    <div id="referenceCollapse" class="collapse show" aria-labelledby="referenceHeading">
        <div class="card-body">
            TO DO
        </div>
    </div>
</div>