$font-size-btn: 12px;

//minus
[data-toggle="collapse"] i:before {
    content: "\f146";
}

//plus
[data-toggle="collapse"].collapsed i:before {
    content: "\f0fe";
}

.btn,
.btn-link,
.card-body,
.dropdown-menu > * {
    font-size: $font-size-btn !important;
}

.card-header {
    padding: 5px 18px;
}

.icons-container > button {
    padding: 6px 6px;
    font-size: $font-size-btn;
}

#entrate-lessicali > .card-body {
    height: 70vh;
    max-height: 70vh !important;
    overflow-y: auto !important;
    padding-right: 10px;
}
