

<div id="tree-accordion">


    <!-- EPIGRAFIE -->
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0 d-flex justify-content-between align-items-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#epigrafie" aria-expanded="true" aria-controls="epigrafie">
                    <i class="fa"></i> Epigrafie
                </button>
                <div class="icons-container">
                    <button class="btn btn-link"><i class="fa fa-plus"></i></button>     
                    <button class="btn btn-link"><i class="fa fa-file-import"></i></button> 
                    <button class="btn btn-link"><i class="fa fa-download"></i></button> 
                    <button class="btn btn-link" title="Language"><i class="fa fa-globe-americas"></i></button>
                </div>
            </h5>
        </div>
        <div id="epigrafie" class="collapse show" aria-labelledby="headingOne" data-parent="#tree-accordion">
            <div class="card-body">
                <app-text-tree></app-text-tree>
            </div>
        </div>
    </div>

    <!-- LEXICAL ENTRIES -->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0 d-flex flex-wrap justify-content-between align-items-center">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#entrate-lessicali" aria-expanded="false" aria-controls="entrate-lessicali" (click)="updateTreeParent()">
                    <i class="fa"></i>  Lessico
                </button>
                <div class="icons-container">
                    <button [ngStyle]="switcher ? {'background-color': '#007bff', 'color': 'rgb(247 247 247)'} : {'background-color': 'transparent', 'color': '#007bff'}" class="btn btn-link" title="Switch to label view" (click)="switchLabel(); updateTreeParent();"><i class="fas fa-tag"></i></button>
                    <button class="btn btn-link" title="Add"><i class="fa fa-plus"></i></button>     
                    <button class="btn btn-link" title="Export"><i class="fa fa-file-import"></i></button> 
                    <button class="btn btn-link" title="Download"><i class="fa fa-download"></i></button> 
                    <button class="btn btn-link" title="Language"><i class="fa fa-globe-americas"></i></button>
                </div>
            </h5>
        </div>
        <div id="entrate-lessicali" class="collapse" aria-labelledby="headingTwo" data-parent="#tree-accordion">
            <div class="card-body">
                <app-lexical-entry-tree #lexTree></app-lexical-entry-tree>
            </div>
        </div>
    </div>

    <!-- ONTOLOGY -->
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0 d-flex flex-wrap justify-content-between align-items-center">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#ontologia" aria-expanded="false" aria-controls="ontologia">
                    <i class="fa"></i> Ontologia
                </button>
                <div class="icons-container">
                    <button class="btn btn-link"><i class="fa fa-plus"></i></button>     
                    <button class="btn btn-link"><i class="fa fa-file-import"></i></button> 
                    <button class="btn btn-link"><i class="fa fa-download"></i></button> 
                    <button class="btn btn-link" title="Language"><i class="fa fa-globe-americas"></i></button>
                </div>
            </h5>
        </div>
        <div id="ontologia" class="collapse" aria-labelledby="headingFour" data-parent="#tree-accordion">
            <div class="card-body">
                ...
            </div>
        </div>
    </div>
</div>