<div class="card" style="height:100%;">
    <div class="card-body">

        <!-- ACCORDION -->
        <div id="tree-accordion">


            <!-- EPIGRAFIE -->
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#epigrafie" aria-expanded="true" aria-controls="epigrafie">
                            Epigrafie
                        </button>
                    </h5>
                </div>
                <div id="epigrafie" class="collapse show" aria-labelledby="headingOne" data-parent="#tree-accordion">
                    <div class="card-body">
                        <app-text-tree></app-text-tree>
                    </div>
                </div>
            </div>

            <!-- LEXICAL ENTRIES -->
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#entrate-lessicali" aria-expanded="false" aria-controls="entrate-lessicali">
                            Entrate Lessicali
                        </button>
                    </h5>
                </div>
                <div id="entrate-lessicali" class="collapse" aria-labelledby="headingTwo" data-parent="#tree-accordion">
                    <div class="card-body">
                        ...
                    </div>
                </div>
            </div>

            <!-- FORMS -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#forme" aria-expanded="false" aria-controls="forme">
                            Forme
                        </button>
                    </h5>
                </div>
                <div id="forme" class="collapse" aria-labelledby="headingThree" data-parent="#tree-accordion">
                    <div class="card-body">
                        ...
                    </div>
                </div>
            </div>

            <!-- ONTOLOGY -->
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#ontologia" aria-expanded="false" aria-controls="ontologia">
                            Ontologia
                        </button>
                    </h5>
                </div>
                <div id="ontologia" class="collapse" aria-labelledby="headingFour" data-parent="#tree-accordion">
                    <div class="card-body">
                        ...
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Language
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>          
    </div>
</div>