<div class="card">
    <div class="card-header" id="metadataHeading">
        <h5 class="mb-0">
            <a class="btn btn-link w-100 d-flex align-self-center" data-toggle="collapse" data-target="#metadataCollapse" aria-expanded="true" aria-controls="metadataCollapse">
                Metadata Panel<i class="fa ml-auto"></i>
            </a>
        </h5>
    </div>
    <div id="metadataCollapse" class="collapse show" aria-labelledby="metadataHeading">
        <div class="card-body">
            <angular-editor formControlName="htmlContent" [config]="editorConfig"></angular-editor>
        </div>
    </div>
</div>
