<form [formGroup]="etyForm" > <!-- *ngIf="object!=null" -->
    <div class="form-group row ml-2 mt-3 mr-2">
        <label for="inputLabel" class="col-xl-3 col-form-label">Label:</label>
        <div class="input-group col-xl-7">
            <input formControlName="label" name="label" type="text" class="form-control" placeholder="">
            <div class="input-group-append">
                <div class="input-group-append ml-2">
                    <div class="dropdown">
                        <button class="btn btn-outline-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-plus"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" (click)="addCognate()" style="cursor: pointer;">Add Cognates</a>
                          <a class="dropdown-item" (click)="addEtyLink()" style="cursor: pointer;">Add EtyLink</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row ml-2 mt-3 mr-2">
        <label for="inputLabel" class="col-xl-3 col-form-label">Author / Resp: </label>
        <div class="input-group col-xl-7">
            <input formControlName="author" name="author" type="text" class="form-control" placeholder="">
        </div>
    </div>

    <div class="form-group row ml-2 mt-3 mr-2">
        <label for="inputLabel" class="col-xl-3 col-form-label">Uncertain:</label>
        <div class="input-group col-xl-7">
            <input formControlName="uncertain" name="uncertain" type="checkbox">
        </div>
    </div>

    <!-- ETY LINK -->
    <div formArrayName="etylink">
        <div *ngFor="let comp of etyForm['controls'].etylink['controls']; let i = index">
            <div [formGroupName]="i">
                <div class="form-group row ml-2 mt-3 mr-2">
                    <div class="input-group col-xl-12">
                        <div class="card">
                            <span class="text-id"><b>ETY LINK {{i+1}}</b></span>
                            <!-- <a class="pointer" (click)="addRelation(i)"><span class="add-icon"><i class="fa fa-plus-square"></i></span></a> -->
                            <a class="pointer" (click)="removeEtyLink(i)"><span class="trash-icon"><i class="fa fa-trash"></i></span></a>
                            <div class="card-body">

                                <!-- ETYMON / LEXENT -->
                                <div class="col-xl-12">
                                    <div class="d-xl-flex" style="align-items: center;">
                                        <label class="col-xl-3 col-form-label">Etymon/LexEnt:</label>
                                        <div class="col-xl-9">
                                            <div class="form-group row ml-2 mt-3 mr-2">
                                                <div class="input-group" *ngIf="{switch : false}; let variable">
                                                    <ng-select formControlName="lex_entity" name="lex_entity" [items]="people" class="resizeNgSelect" bindLabel="name" bindValue="name" placeholder="Search entity" appendTo="body"
                                                        [loading]="peopleLoading" *ngIf="!variable.switch">
                                                    </ng-select>
                                                    <input formControlName="lex_entity" name="lex_entity" type="text" class="form-control" id="inputDenotes" placeholder="Insert URI" *ngIf="variable.switch">
                                                    <div class="input-group-append ml-3 form-check">
                                                        <input class="form-check-input vartrans-tooltip" type="checkbox" (change)="variable.switch=!variable.switch" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="Clicca per inserire un URI manualmente">
                                                    </div>
                                                    <!-- <div class="input-group-append ml-2">
                                                        <button class="btn btn-primary" type="button"><i
                                                                class="fa fa-external-link-alt"></i></button>
                                                    </div> -->
                                                </div>
                                            </div>                                                  
                                        </div>
                                    </div>
                                </div>

                                <!-- LABEL / WRITTEN FORM -->
                                <div class="col-xl-12">
                                    <div class="d-xl-flex">
                                        <label class="col-xl-3 col-form-label">Label / Written Form:</label>
                                        <div class="col-xl-9">
                                            <div class="form-group row ml-2 mr-2">
                                                <div class="input-group" *ngIf="{switch : false}; let variable">
                                                    
                                                    <input formControlName="label" name="label" type="text" class="form-control">
                                                    <div class="input-group-append ml-3 form-check invisible">
                                                        
                                                    </div>
                                                </div>
                                            </div>                                                  
                                        </div>
                                    </div>
                                </div>

                                <!-- ETYLINK TYPE -->
                                <div class="col-xl-12">
                                    <div class="d-xl-flex">
                                        <label class="col-xl-3 col-form-label">EtyLink Type:</label>
                                        <div class="col-xl-9">
                                            <div class="form-group row ml-2 mr-2">
                                                <div class="input-group" *ngIf="{switch : false}; let variable">
                                                    
                                                    <input formControlName="etyLinkType" name="etyLinkType" type="text" class="form-control">
                                                    <div class="input-group-append ml-3 form-check invisible">
                                                        
                                                    </div>
                                                </div>
                                            </div>                                                  
                                        </div>
                                    </div>
                                </div>

                                <!-- ETY SOURCE -->
                                <div class="col-xl-12">
                                    <div class="d-xl-flex">
                                        <label class="col-xl-3 col-form-label text-muted">EtySource:</label>
                                        <div class="col-xl-9">
                                            <div class="form-group row ml-2 mr-2">
                                                <div class="input-group" *ngIf="{switch : false}; let variable">
                                                    
                                                    <input formControlName="etySource" name="etySource" type="text" class="form-control" readonly>
                                                    <div class="input-group-append ml-3 form-check invisible">
                                                        
                                                    </div>
                                                </div>
                                            </div>                                                  
                                        </div>
                                    </div>
                                </div>

                                <!-- ETY TARGET -->
                                <div class="col-xl-12">
                                    <div class="d-xl-flex">
                                        <label class="col-xl-3 col-form-label text-muted">EtyTarget:</label>
                                        <div class="col-xl-9">
                                            <div class="form-group row ml-2 mr-2">
                                                <div class="input-group" *ngIf="{switch : false}; let variable">
                                                    
                                                    <input formControlName="etyTarget" name="etyTarget" type="text" class="form-control" readonly>
                                                    <div class="input-group-append ml-3 form-check invisible">
                                                        
                                                    </div>
                                                </div>
                                            </div>                                                  
                                        </div>
                                    </div>
                                </div>

                                <!-- RELATION -->
                                <!-- <div formArrayName="relation" class="col-xl-12">
                                    <div *ngFor="let sub of comp['controls'].relation['controls']; let j = index">
                                        <div [formGroupName]="j" class="d-xl-flex" style="align-items: center;">
                                            <div class="form-group row ml-2 mt-2 mr-2 w-100">
                                                <div class="col-xl-6">
                                                    <select class="form-control" formControlName="trait" name="trait">
                                                        <option>Trait...</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                                <div class="input-group col-xl-6" *ngIf="{switch : false}; let variable">
                                                    <select class="form-control" formControlName="value" name="value" style="border-top-right-radius: .25rem; border-bottom-right-radius: .25rem;">
                                                        <option>Relations...</option>
                                                        <option>...</option>
                                                    </select>
                                                    <div class="input-group-append ml-2">
                                                        <button (click)="removeRelation(i, j)" class="btn btn-danger" type="button"><i class="fa fa-trash-alt"></i></button>
                                                    </div>
                                                </div>
                                            </div>                                                 
                                        </div>
                                    </div>
                                </div> -->
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- COGNATES -->
    <div formArrayName="cognates">
        <div *ngFor="let sub of etyForm['controls'].cognates['controls']; let i = index">
            <div [formGroupName]="i">
                <div class="form-group row ml-2 mt-3 mr-2">
                    <div class="input-group col-xl-12">
                        <div class="card">
                            <span class="text-id"><b>COGNATE {{i+1}}</b></span>
                            <!-- <a class="pointer" (click)="addSubtermElement(i)"><span class="add-icon"><i class="fa fa-plus-square"></i></span></a> -->
                            <a class="pointer" (click)="removeCognate(i)"><span class="trash-icon"><i class="fa fa-trash"></i></span></a>
                            <div class="card-body">

                                <!-- COGNATE -->
                                <div class="col-xl-12">
                                    <div class="d-xl-flex" style="align-items: center;">
                                        <label class="col-xl-3 col-form-label">Cognate:</label>
                                        <div class="col-xl-9">
                                            <div class="form-group row ml-2 mt-3 mr-2">
                                                <div class="input-group" *ngIf="{switch : false}; let variable">
                                                    <ng-select formControlName="cognate" name="cognate" [items]="searchResults" class="resizeNgSelect" bindLabel="label" bindValue="label" placeholder="Search entity" appendTo="body"
                                                         *ngIf="!variable.switch" (keyup)="triggerCognates($event)" bindValue="label" class="resizeNgSelect" [items]="searchResults"
                                                        bindLabel="label" placeholder="Search entity" appendTo="body" (focus)="deleteData()">
                                                    </ng-select>
                                                    <input (keyup)="triggerCognatesInput($event, i)" formControlName="cognate" name="cognate" type="text" class="form-control" id="inputDenotes" placeholder="Insert URI" *ngIf="variable.switch">
                                                    <div class="input-group-append ml-3 form-check">
                                                        <input class="form-check-input vartrans-tooltip" type="checkbox" (change)="variable.switch=!variable.switch" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="Clicca per inserire un URI manualmente">
                                                    </div>
                                                    <!-- <div class="input-group-append ml-2">
                                                        <button class="btn btn-primary" type="button"><i
                                                                class="fa fa-external-link-alt"></i></button>
                                                    </div> -->
                                                </div>
                                            </div>                                                  
                                        </div>
                                    </div>
                                </div>

                                <!-- LABEL / WRITTEN FORM -->
                                <div class="col-xl-12">
                                    <div class="d-xl-flex">
                                        <label class="col-xl-3 col-form-label">Label / Written Form:</label>
                                        <div class="col-xl-9">
                                            <div class="form-group row ml-2 mr-2">
                                                <div class="input-group" *ngIf="{switch : false}; let variable">
                                                    
                                                    <input formControlName="label" name="label" type="text" class="form-control">
                                                    <div class="input-group-append ml-3 form-check invisible">
                                                        
                                                    </div>
                                                </div>
                                            </div>                                                  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>