<form [formGroup]="etyForm" > <!-- *ngIf="object!=null" -->
    <div class="form-group row ml-2 mt-3 mr-2">
        <label for="inputLabel" class="col-xl-3 col-form-label">Label:</label>
        <div class="input-group col-xl-7">
            <input formControlName="label" name="label" type="text" class="form-control" placeholder="">
            <div class="input-group-append">
                <div class="input-group-append ml-2">
                    <div class="dropdown">
                        <button class="btn btn-outline-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-plus"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" (click)="addSubterm()" style="cursor: pointer;">Add Cognates</a>
                          <a class="dropdown-item" (click)="addComponent()" style="cursor: pointer;">Add EtyLink</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row ml-2 mt-3 mr-2">
        <label for="inputLabel" class="col-xl-3 col-form-label">Author / Resp: </label>
        <div class="input-group col-xl-7">
            <input formControlName="author" name="author" type="text" class="form-control" placeholder="">
        </div>
    </div>

    <div class="form-group row ml-2 mt-3 mr-2">
        <label for="inputLabel" class="col-xl-3 col-form-label">Uncertain:</label>
        <div class="input-group col-xl-7">
            <input formControlName="uncertain" name="uncertain" type="checkbox">
        </div>
    </div>

    <!-- ETY LINK -->
    <div formArrayName="component">
        <div *ngFor="let comp of etyForm['controls'].component['controls']; let i = index">
            <div [formGroupName]="i">
                <div class="form-group row ml-2 mt-3 mr-2">
                    <div class="input-group col-xl-12">
                        <div class="card">
                            <span class="text-id"><b>ETY LINK {{i+1}}</b></span>
                            <a class="pointer" (click)="addRelation(i)"><span class="add-icon"><i class="fa fa-plus-square"></i></span></a>
                            <a class="pointer" (click)="removeComponent(i)"><span class="trash-icon"><i class="fa fa-trash"></i></span></a>
                            <div class="card-body">

                                <!-- ETYMON / LEXENT -->
                                <div formArrayName="sub_term" class="col-xl-12">
                                    <div *ngFor="let sub of comp['controls'].sub_term['controls']; let j = index">
                                        <div [formGroupName]="j" class="d-xl-flex" style="align-items: center;">
                                            <label class="col-xl-3 col-form-label">Etymon/LexEnt:</label>
                                            <div class="col-xl-9">
                                                <div class="form-group row ml-2 mt-3 mr-2">
                                                    <div class="input-group" *ngIf="{switch : false}; let variable">
                                                        <ng-select formControlName="entity" name="entity" [items]="people" class="resizeNgSelect" bindLabel="name" bindValue="name" placeholder="Search entity" appendTo="body"
                                                            [loading]="peopleLoading" *ngIf="!variable.switch">
                                                        </ng-select>
                                                        <input formControlName="entity" name="entity" type="text" class="form-control" id="inputDenotes" placeholder="Insert URI" *ngIf="variable.switch">
                                                        <div class="input-group-append ml-3 form-check">
                                                            <input class="form-check-input vartrans-tooltip" type="checkbox" (change)="variable.switch=!variable.switch" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="Clicca per inserire un URI manualmente">
                                                        </div>
                                                        <!-- <div class="input-group-append ml-2">
                                                            <button class="btn btn-primary" type="button"><i
                                                                    class="fa fa-external-link-alt"></i></button>
                                                        </div> -->
                                                    </div>
                                                </div>                                                  
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- LABEL / WRITTEN FORM -->
                                <div formArrayName="corresponds_to" class="col-xl-12">
                                    <div *ngFor="let sub of comp['controls'].corresponds_to['controls']; let j = index">
                                        <div [formGroupName]="j" class="d-xl-flex">
                                            <label class="col-xl-3 col-form-label">Label / Written Form:</label>
                                            <div class="col-xl-9">
                                                <div class="form-group row ml-2 mr-2">
                                                    <div class="input-group" *ngIf="{switch : false}; let variable">
                                                        
                                                        <input formControlName="entity" name="entity" type="text" class="form-control">
                                                        <div class="input-group-append ml-3 form-check invisible">
                                                           
                                                        </div>
                                                    </div>
                                                </div>                                                  
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- ETYLINK TYPE -->
                                <div formArrayName="corresponds_to" class="col-xl-12">
                                    <div *ngFor="let sub of comp['controls'].corresponds_to['controls']; let j = index">
                                        <div [formGroupName]="j" class="d-xl-flex">
                                            <label class="col-xl-3 col-form-label">EtyLink Type:</label>
                                            <div class="col-xl-9">
                                                <div class="form-group row ml-2 mr-2">
                                                    <div class="input-group" *ngIf="{switch : false}; let variable">
                                                        
                                                        <input formControlName="entity" name="entity" type="text" class="form-control">
                                                        <div class="input-group-append ml-3 form-check invisible">
                                                           
                                                        </div>
                                                    </div>
                                                </div>                                                  
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- ETY SOURCE -->
                                <div formArrayName="corresponds_to" class="col-xl-12">
                                    <div *ngFor="let sub of comp['controls'].corresponds_to['controls']; let j = index">
                                        <div [formGroupName]="j" class="d-xl-flex">
                                            <label class="col-xl-3 col-form-label text-muted">EtySource:</label>
                                            <div class="col-xl-9">
                                                <div class="form-group row ml-2 mr-2">
                                                    <div class="input-group" *ngIf="{switch : false}; let variable">
                                                        
                                                        <input formControlName="entity" name="entity" type="text" class="form-control" readonly>
                                                        <div class="input-group-append ml-3 form-check invisible">
                                                           
                                                        </div>
                                                    </div>
                                                </div>                                                  
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- ETY TARGET -->
                                <div formArrayName="corresponds_to" class="col-xl-12">
                                    <div *ngFor="let sub of comp['controls'].corresponds_to['controls']; let j = index">
                                        <div [formGroupName]="j" class="d-xl-flex">
                                            <label class="col-xl-3 col-form-label text-muted">EtyTarget:</label>
                                            <div class="col-xl-9">
                                                <div class="form-group row ml-2 mr-2">
                                                    <div class="input-group" *ngIf="{switch : false}; let variable">
                                                        
                                                        <input formControlName="entity" name="entity" type="text" class="form-control" readonly>
                                                        <div class="input-group-append ml-3 form-check invisible">
                                                           
                                                        </div>
                                                    </div>
                                                </div>                                                  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- SUB-TERM -->
    <div formArrayName="subterm">
        <div *ngFor="let sub of etyForm['controls'].subterm['controls']; let i = index">
            <div [formGroupName]="i">
                <div class="form-group row ml-2 mt-3 mr-2">
                    <div class="input-group col-xl-12">
                        <div class="card">
                            <span class="text-id"><b>COGNATES {{i+1}}</b></span>
                            <a class="pointer" (click)="addSubtermElement(i)"><span class="add-icon"><i class="fa fa-plus-square"></i></span></a>
                            <a class="pointer" (click)="removeSubterm(i)"><span class="trash-icon"><i class="fa fa-trash"></i></span></a>
                            <div class="card-body">

                                <!-- COGNATE -->
                                <div formArrayName="subterm_array" class="col-xl-12">
                                    <div *ngFor="let arr of sub['controls'].subterm_array['controls']; let j = index">
                                        <div [formGroupName]="j" class="d-xl-flex" style="align-items: center;">
                                            <label class="col-xl-3 col-form-label">Cognate:</label>
                                            <div class="col-xl-9">
                                                <div class="form-group row ml-2 mt-3 mr-2">
                                                    <div class="input-group" *ngIf="{switch : false}; let variable">
                                                        <ng-select formControlName="entity" name="entity" [items]="people" class="resizeNgSelect" bindLabel="name" bindValue="name" placeholder="Search entity" appendTo="body"
                                                            [loading]="peopleLoading" *ngIf="!variable.switch">
                                                        </ng-select>
                                                        <input formControlName="entity" name="entity" type="text" class="form-control" id="inputDenotes" placeholder="Insert URI" *ngIf="variable.switch">
                                                        <div class="input-group-append ml-3 form-check">
                                                            <input class="form-check-input vartrans-tooltip" type="checkbox" (change)="variable.switch=!variable.switch" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="Clicca per inserire un URI manualmente">
                                                        </div>
                                                        <!-- <div class="input-group-append ml-2">
                                                            <button class="btn btn-primary" type="button"><i
                                                                    class="fa fa-external-link-alt"></i></button>
                                                        </div> -->
                                                    </div>
                                                </div>                                                  
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- LABEL / WRITTEN FORM -->
                                <div formArrayName="subterm_array" class="col-xl-12">
                                    <div *ngFor="let arr of sub['controls'].subterm_array['controls']; let j = index">
                                        <div [formGroupName]="j" class="d-xl-flex">
                                            <label class="col-xl-3 col-form-label">Label / Written Form:</label>
                                            <div class="col-xl-9">
                                                <div class="form-group row ml-2 mr-2">
                                                    <div class="input-group" *ngIf="{switch : false}; let variable">
                                                        
                                                        <input formControlName="entity" name="entity" type="text" class="form-control">
                                                        <div class="input-group-append ml-3 form-check invisible">
                                                           
                                                        </div>
                                                    </div>
                                                </div>                                                  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>