<div class="card">
    <div class="card-header" id="attestationHeading">
        <h5 class="mb-0">
            <a class="btn btn-link w-100 d-flex align-self-center collapsed " data-toggle="collapse"
                data-target="#attestationCollapse" aria-expanded="true" aria-controls="attestationCollapse">
                Attestation Panel<i class="fa ml-auto"></i>
            </a>
        </h5>
    </div>
    <div id="attestationCollapse" class="collapse" aria-labelledby="attestationHeading">
        <div class="card-body">
            <div *ngIf="formData != null">
                <div class="card mb-3 p-1" *ngFor="let item of formData; let i = index">
                    <a class="attestationCollapse" data-toggle="collapse" [attr.data-target]="'#collapse-'+i"
                        aria-expanded="true" [attr.aria-controls]="'#collapse-'+i"><span class="text-id pointer"><b
                                class="badge badge-primary">ID:{{item?.id}}</b></span></a>
                    <!-- <span *ngIf="bibliographyData != undefined" class="icons-container"> -->
                    <!-- {{bibliographyData[i]['url'] | json}} -->
                    <!-- <span><a target="_blank" class="pointer text-primary" (click)="synchronizeBibliography(biblio.get('id').value)"><span class="synchro-icon"><i class="fas fa-sync-alt" *ngIf="!loadingSynchro"></i> <i class="fas fa-sync fa-spin" *ngIf="loadingSynchro"></i></span></a></span>
                    <span ><a href="https://www.zotero.org/groups/2552746/prin_italia_antica/items/{{bibliographyData[i]['id']}}/library" target="_blank" class="pointer text-primary"><span class="external-icon"><i class="fas fa-external-link-alt"></i></span></a></span>
                    <span><a [href]="bibliographyData[i]['url']" target="_blank" class="pointer text-primary"><span class="download-icon"><i class="fas fa-download"></i></span></a></span>
                </span> -->
    
                    <a (click)="cancelAttestation(i, item?.id)" class="pointer"><span class="trash-icon"><i class="fa fa-trash"></i></span></a>
    
                    <div [id]="'collapse-'+i" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <div class="form-group row ml-2 mr-2 mb-0">
                                <label for="inputLabel" class="col-lg-4 pl-0 pr-0 col-form-label">Value:</label>
                                <div class="input-group col-lg-8 pl-0 pr-0">
                                    <input id="author" name="author" type="text" class="form-control" placeholder="" [value]="item?.value">
                                </div>
                            </div>
                            <div class="form-group row ml-2 mr-2 mb-0">
                                <label for="inputLabel" class="col-lg-4 pl-0 pr-0 col-form-label">Layer:</label>
                                <div class="input-group col-lg-8 pl-0 pr-0">
                                    <input id="author" name="author" type="text" class="form-control" placeholder="" [value]="item?.layer">
                                </div>
                            </div>
                            <div class="form-group row ml-2 mr-2 mb-0" *ngFor="let subprop of item?.attributes | keyvalue">
                                <label for="inputLabel" class="col-lg-4 pl-0 pr-0 col-form-label">{{subprop?.key}}:</label>
                                <div class="input-group col-lg-8 pl-0 pr-0">
                                    <input id="author" name="author" type="text" class="form-control" placeholder="" [value]="subprop?.value">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>