<form>
    <div class="form-group row ml-2 mt-3 mr-2">
      <label for="inputForm" class="col-sm-2 col-form-label">Variant:</label>
      <div class="input-group col-sm-5">
        <input type="text" class="form-control" id="inputForm" placeholder="Lemma">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button"><i class="fas fa-keyboard"></i></button>
          <button class="btn btn-secondary" type="button"><i class="far fa-comment-dots"></i></button>
        </div>
      </div>
    </div>
    <div class="form-group row ml-2 mt-3 mr-2">
      <label for="inputPhonetic" class="col-sm-2 col-form-label">Phonetic:</label>
      <div class="input-group col-sm-5">
        <input type="text" class="form-control" id="inputPhonetic" placeholder="Phonetic">
        <div class="input-group-append">
          <button class="btn btn-danger" type="button"><i class="fas fa-trash-alt"></i></button>
        </div>
      </div>
    </div>
    <div class="form-group row ml-2 mt-3 mr-2">
      <label for="inputMorphology" class="col-sm-2 col-form-label">Morphology:</label>
      <div class="input-group col-sm-10">
        <div class="card lemma-card">
          <div class="card-body">
            <div class="form-group row ml-2 mt-3 mr-2">
              <label for="inputMorphologyTrait_1" class="col-sm-3 col-form-label">Animate:</label>
              <div class="input-group align-items-center col-sm-9">
                <select class="form-control" id="inputMorphologyTrait_1">
                  <option>Select a morphological trait:</option>
                  <option>...</option>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-danger" type="button"><i class="fas fa-trash-alt"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group row ml-2 mt-3 mr-2">
              <label for="inputMorphologyTrait_2" class="col-sm-3 col-form-label">Voice:</label>
              <div class="input-group align-items-center col-sm-9">
                <select class="form-control" id="inputMorphologyTrait_2">
                  <option>Select a morphological trait:</option>
                  <option>...</option>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-danger" type="button"><i class="fas fa-trash-alt"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-buttons d-flex">
      <div class="dropdown">
        <button class="btn btn-success mt-3 ml-4 mb-3" type="button" id="dropdownAddForm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-plus"></i> </button>
        <div class="dropdown-menu" aria-labelledby="dropdownAddForm">
          <a class="dropdown-item" href="#">Action1</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary mt-3 ml-4 mb-3" type="button" id="dropdownSaveForm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>  <i class="fas fa-save"></i> </button>
        <div class="dropdown-menu" aria-labelledby="dropdownSaveForm">
          <a class="dropdown-item" href="#">Action2</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-danger mt-3 ml-4 mb-3" type="button" id="dropdownDeleteForm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  <i class="fas fa-trash-alt"></i> </button>
        <div class="dropdown-menu" aria-labelledby="dropdownDeleteForm">
          <a class="dropdown-item" href="#">Action3</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>  
  </form>