@import '~@circlon/angular-tree-component/css/angular-tree-component.css';

html, body {
    height: 100%;
}

// OVERRIDING STYLE FOR LEXICAL TREE VIEW

.node-content-wrapper {
    padding: 2px 5px 0 12px;
}

.node-content-wrapper:hover {
    background: #beebff;
    box-shadow: none;
}

.node-wrapper:hover {
    background: #beebff;
    box-shadow: none;
}

.node-content-wrapper-focused {
    box-shadow: none;
    background: none;
}

.lexicalEntryTreeNodeExpander {

    .toggle-children-wrapper {

        padding: 2px 0px 5px 1px;

        .toggle-children {
            top: 0px !important;
            left: -5px !important;
        }
    }
    
}

.dataTable {
   
    width: 100% !important;
}

#lazyLoadingModal {
    position: absolute !important;

    .modal-dialog{
        margin: 85% 30% !important;
    }
}

.modal-backdrop {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 1040;
    width: inherit !important;
    height: inherit !important;
    background-color: #000;
}

.card-body {
    padding: 0.55rem !important
}