@import "~@circlon/angular-tree-component/css/angular-tree-component.css";
@import "~@ng-select/ng-select/themes/default.theme.css";


html,
body {
    height: 100%;
}

// OVERRIDING STYLE FOR LEXICAL TREE VIEW

.node-content-wrapper {
    padding: 2px 5px 0 12px;
}

.node-content-wrapper:hover {
    background: #beebff;
    box-shadow: none;
}

.tree-children {
    overflow: visible;
}

tree-node-content {
    white-space: nowrap;
}

.node-wrapper:hover {
    background: #beebff;
    box-shadow: none;
}

.node-content-wrapper-focused {
    box-shadow: none;
    background: none;
}
.toggle-children {
    height: 6px !important;
    width: 7px !important;
}

.lexicalEntryTreeNodeExpander {
    .toggle-children-wrapper {
        padding: 2px 0px 5px 1px;

        .toggle-children {
            top: -1px !important;
            left: -5px !important;
            height: 6px !important;
            width: 7px !important;
        }
    }
}

.dataTable {
    width: 100% !important;
}

#lazyLoadingModal {
    position: absolute !important;

    .modal-dialog {
        margin: 85% 30% !important;
    }
}

.modal-backdrop {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 1040;
    width: inherit !important;
    height: inherit !important;
    background-color: #000;
}

.card-body {
    padding: 0.55rem !important;
}
.popover-header {
    font-size: 12px !important;
}
.popover-body {
    font-size: 12px;
}


.tooltip {
    font-size: 12px !important;
}

.spinner-border-sm {
    width: .75rem !important;
    height: .75rem !important;
}

.ng-select {
    display: flex;
    position: relative;
    flex: 1 1 auto;
}

.ng-select-container {
    min-height: 32px !important;
    height: 32px !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    font-size: 12px;
}

.ui-modal, .ui-modal-overlay {
    z-index: 9999 !important;
}

.languages_modal .ui-modal{
    min-width: 40rem;
    width: 40rem;
    min-height: 25rem;
}